<% provide(:title, "１月") %>

<div class="container">
  <div class="row">
    <div class="monthlyimagebox">
      <p>
        <%= link_to (image_tag( "hourensou.png", :alt => "ほうれん草イメージ")), search_path(:vegetables_name => "ほうれん草", :season_name => "january") %>
      </p>
      <p>
        <%= link_to "ほうれん草" , search_path(:vegetables_name => "ほうれん草", :season_name => "january") %>  
      </p>
    </div>
    <div class="monthlyimagebox">
      <p>
        <%= link_to (image_tag( "mizuna.png", :alt => "ミズナイメージ")), search_path(:vegetables_name => "ミズナ", :season_name => "january") %>
      </p>
      <p>
        <%= link_to "ミズナ" , search_path(:vegetables_name => "ミズナ", :season_name => "january") %>
      </p>
    </div>
    <div class="monthlyimagebox">
      <p>
        <%= link_to (image_tag( "daikon.png", :alt => "ダイコンイメージ")), search_path(:vegetables_name => "ダイコン", :season_name => "january") %>
      </p>
      <p>
        <%= link_to "ダイコン" , search_path(:vegetables_name => "ダイコン", :season_name => "january") %>
      </p>
    </div>
  </div>
</div>