<% provide(:title, "５月") %>

<div class="container">
  <div class="row">
    <div class="monthlyimagebox">
      <p>
        <%= link_to (image_tag( "warabi.png", :alt => "わらびイメージ")), search_path(:vegetables_name => "わらび", :season_name => "may") %>
      </p>
      <p>
        <%= link_to "わらび" , search_path(:vegetables_name => "わらび", :season_name => "may") %>
      </p>
    </div>
    <div class="monthlyimagebox">
      <p>
        <%= link_to (image_tag( "kureson.png", :alt => "クレソンイメージ")), search_path(:vegetables_name => "クレソン", :season_name => "may") %>
      </p>
      <p>
        <%= link_to "クレソン" , search_path(:vegetables_name => "クレソン", :season_name => "may") %>
      </p>
    </div>
    <div class="monthlyimagebox">
      <p>
        <%= link_to (image_tag( "rakkyou.png", :alt => "らっきょうイメージ")), search_path(:vegetables_name => "らっきょう", :season_name => "may") %>
      </p>
      <p>
        <%= link_to "らっきょう" , search_path(:vegetables_name => "らっきょう", :season_name => "may") %>
      </p>
    </div>
  </div>
</div>