<% provide(:title, "季節選択") %>

<div class="container">
  <div class="row">
    <h1 class="col-md-4 seasons january">
      <%= link_to "１月", "#" %>
    </h1>
    <h1 class="col-md-4 seasons february">
      <%= link_to "２月", "#" %>
    </h1>
    <h1 class="col-md-4 seasons march">
      <%= link_to "３月", "#" %>
    </h1>
    <h1 class="col-md-4 seasons april">
      <%= link_to "４月", "#" %>
    </h1>
    <h1 class="col-md-4 seasons may">
      <%= link_to "５月", "#" %>
    </h1>
    <h1 class="col-md-4 seasons june">
      <%= link_to "６月", "#" %>
    </h1>
    <h1 class="col-md-4 seasons july">
      <%= link_to "７月", "#" %>
    </h1>
    <h1 class="col-md-4 seasons august">
      <%= link_to "８月", "#" %>
    </h1>
    <h1 class="col-md-4 seasons september">
      <%= link_to "９月", "#" %>
    </h1>
    <h1 class="col-md-4 seasons october">
      <%= link_to "１０月", "#" %>
    </h1>
    <h1 class="col-md-4 seasons november">
      <%= link_to "１１月", "#" %>
    </h1>
    <h1 class="col-md-4 seasons december">
      <%= link_to "１２月", "#" %>
    </h1>
  </div>
</div>