<% provide(:title, "季節選択") %>

<div class="container">
  <div class="row">
    <h1 class="col-md-4 seasons january">
      <%= link_to "１月", season_path(:season_name => "january") %>
    </h1>
    <h1 class="col-md-4 seasons february">
      <%= link_to "２月", season_path(:season_name => "february") %>
    </h1>
    <h1 class="col-md-4 seasons march">
      <%= link_to "３月", season_path(:season_name => "march") %>
    </h1>
    <h1 class="col-md-4 seasons april">
      <%= link_to "４月", season_path(:season_name => "april") %>
    </h1>
    <h1 class="col-md-4 seasons may">
      <%= link_to "５月", season_path(:season_name => "may") %>
    </h1>
    <h1 class="col-md-4 seasons june">
      <%= link_to "６月", season_path(:season_name => "june") %>
    </h1>
    <h1 class="col-md-4 seasons july">
      <%= link_to "７月", season_path(:season_name => "july") %>
    </h1>
    <h1 class="col-md-4 seasons august">
      <%= link_to "８月", season_path(:season_name => "august") %>
    </h1>
    <h1 class="col-md-4 seasons september">
      <%= link_to "９月", season_path(:season_name => "september") %>
    </h1>
    <h1 class="col-md-4 seasons october">
      <%= link_to "１０月", season_path(:season_name => "october") %>
    </h1>
    <h1 class="col-md-4 seasons november">
      <%= link_to "１１月", season_path(:season_name => "november") %>
    </h1>
    <h1 class="col-md-4 seasons december">
      <%= link_to "１２月", season_path(:season_name => "december") %>
    </h1>
  </div>
</div>