<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div id="fh5co-wrapper">
      <div id="fh5co-page">
        <nav id="offcanvas-menu" role="navigation" style="height: 127px;">
            <ul class id style="touch-action: pan-y;">
            </ul>
        </nav>
        <div id="fh5co-header">
          <%= render 'layouts/header' %>
        </div>
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
          <% end %>
          <%= render 'layouts/search' if logged_in? %>
          <%= yield %>
          <%= render 'layouts/footer' %>
          <%= render 'layouts/js' %>
      </div>
    </div>
  </body>
</html>
