<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div id="fh5co-wrapper">
    <div id="fh5co-page">
    <div id="fh5co-header">
      <%= render 'layouts/header' %>
    </div>
        <!-- end:fh5co-header -->
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
          <% end %>
          <%= render 'layouts/search' if logged_in? %>
          <%= yield %>
          <%= render 'layouts/footer' %>
          <%= render 'layouts/js' %>
    </div>
    </div>
  </body>
</html>
